/* body{
  background-color: black;
} */
button{
  position: relative;
   overflow: hidden;
   color: black;
   border-radius: 5px;
   border: none;
    height: 3rem;
    width: 5rem;
    padding:0.5rem;
    font-size: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    cursor:pointer;
    transition: all ease 0.5s;
    margin-left: 1rem;
  
}
.delete:hover{
  box-shadow: 10px 10px 0px rgb(34, 31, 33);
}
.update:hover{
  box-shadow: 10px 10px 0px rgb(61, 61, 61);
}
.update{
  background-color: rgb(13, 12, 13) !important;
  color:white !important;
  margin-right: 1rem;
}

.delete{
  background-color: pink !important;
}
.add{
 background-color: rgb(114, 30, 5) !important;
 height: 18rem;
 width: 18rem;
 border-radius: 50% !important;
}
.add:hover{
  box-shadow: 15px 15px 0px rgb(51, 5, 3);
}

